@{
    ViewData["Title"] = "Nuevo";
}

@model Participantes

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div asp-validation-summary="All"></div>

<div>

    <form action="" method="post">
        
        <div class="row">

            <div class="col-6">
                <div class="text-center">
                    <h3>Datos del Participante</h3>
                </div>
                <div class="form-group">
                    <label asp-for="nombre"></label>
                    <input type="text" asp-for="nombre" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="apellido"></label>
                    <input type="text" asp-for="apellido" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="edad"></label>
                    <input type="text" asp-for="edad" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="genero"></label>
                    <label><input type="radio" asp-for="genero" value="M" />M</label>
                    <label><input type="radio" asp-for="genero" value="F" />F</label>
                </div>
                <div class="form-group">
                    <label asp-for="correo"></label>
                    <input type="text" asp-for="correo" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="rol"></label>
                    <input type="text" asp-for="rol" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ciudad"></label>
                    <input type="text" asp-for="ciudad" class="form-control" />
                </div>
            </div>

            <div class="col-6">
                <div class="text-center">
                    <h3>Datos de la Carrera</h3>
                </div>
                <div class="form-group">
                    <label asp-for="tiempo"></label>
                    <input type="text" asp-for="tiempo" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="distancia"></label>
                    <input type="text" asp-for="distancia" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="lugar"></label>
                    <input type="text" asp-for="lugar" class="form-control" />
                </div>
            </div>

        </div>

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Registrar Participante</button>
        </div>

    </form>

</div>
